{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}




{% if user.username == request.user.username %}

<section class="container my-5" style="width: 350px; margin-left: 0px;">    

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

	<div class="mb-3">
            <b><label for="avatar" class="form-label">Change photo:</label></b>
            <input class="form-control" type="file" name="avatar" id="avatar">
        </div>
        <b><label for="first_name" class="form-label">First name:</label></b>
        <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" required="" class="form-control"/>
        <b><label for="last_name" class="form-label">Last name:</label></b>
        <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" class="form-control"/>

        <div class="mb-3">
          <b><label for="bio" class="form-label">Bio:</label></b>
          <textarea class="form-control" name="bio" id="bio" rows="3">{{ user.avatar.bio }}</textarea>
	</div>

        <button type="submit" class="btn btn-success" >Save</button>
    </form>

</section>

{% else %}

<div class="container border-bottom my-5">
    <div class="row">
        <div class="col-sm-3">
            <img class="card-img" src="{{ user.avatar.avatar.url }}" alt="{{ user.username }}">
        </div>
        <div class="col-sm-4">
            <table class="table table-borderless" style="">
                <tr>
                    <td colspan="2">
                        <p class="name"><h3 class="d-inline">{{ user.username }}</h3> 
                    </td>
                    <td>
                        <a href="{% url 'follow' user.username %}" class="btn btn-primary">{% if not user.follow %}follow{% else %}unfollow{% endif %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>{{ data.posts }}</b></p>
                        <p>Posts</p>
                    </td>
                    <td>
                        <p><b>{{ data.follower }}</b></p>
                        <p>Followers</p>
                    </td>
                    <td>
                        <p><b>{{ data.following }}</b></p>
                        <p>Following</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="word-wrap:break-all;">
                        <p>{{ user.avatar.bio }}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="container">
{% for i in posts_list %}

<div class="card mb-3 mx-3" style="width: 40%; float: left;">
    <div class="btn btn-primary position-relative position-absolute top-0 start-0">
        {% if i.like %}
        <span id="post_id_{{ i.post_id }}" class="bi bi-hand-thumbs-up-fill h5">{{ i.like_count }}</span>
        {% else %}
        <span id="post_id_{{ i.post_id }}" class="bi bi-hand-thumbs-up h5">{{ i.like_count }}</span>
        {% endif %}
    </div>
    <img src="{{ i.photo }}" alt="{{ i.photo }}" class="card-img-top">
    <div class="card-body">
        <p class="card-text">{{ i.datetime }}</p>
        <p class="card-text">{{ i.description }}</p>
    </div>
</div>

{% endfor %}
</div>

{% endif %}
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}gram/js/like_pages.js"></script>
{% endblock %}
